@tailwind base;
@tailwind components;
@tailwind utilities;

.usuario-registro__card{
    display: grid;
    grid-template-columns: 25% 63% 12%;
    
}

.usuario-card{
    display: grid;
    grid-template-columns: 25% 40% 22%;
    
}

@media(min-width:768px){

    .usuario-card{
        display: grid;
        grid-template-columns: 15% 20% 20% 20% 20%;
        
    }
}